* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  cursor: none;
}
body {
  background: linear-gradient(
    90deg,
    rgb(249, 250, 249) 93%,
    rgb(0, 255, 0) 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: rgb(8, 0, 0);
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 1rem;
}

header {
  margin: 5rem 0 0 5rem;
}
h1,
h2 {
  color: rgb(65, 245, 0);
}
h1 {
  font-family: Roboto, sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}
h2 {
  font-family: serif;
  font-size: 2.8rem;
  font-weight: 400;
}

.contact {
  margin: 2rem 7% 0 5rem;
}

ul {
  list-style: none;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  color: rgb(65, 245, 0);
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: rgb(255, 0, 255);
}

#cursor-circle {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px;
  top: 50%;
  mix-blend-mode: color;
  /* mix-blend-mode: exclusion; */
  /* mix-blend-mode: difference; */
  z-index: 10000;
  background-color: rgb(252, 0, 255);
  height: 30px;
  width: 30px;
  transition: all 30ms ease-out;
}

@media (max-width: 600px) {
  html {
    cursor: auto;
  }

  #cursor-circle {
    display: none;
  }

  header,
  .contact {
    margin: 2rem 0 0 2rem;
  }

  h1 {
    font-family: Roboto, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
  }
  h2 {
    font-family: serif;
    font-size: 1.8rem;
    font-weight: 400;
  }

  ul {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
  }
}
