* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  cursor: default;
}

body {
  background: linear-gradient(
    to right,
    rgb(249, 250, 249) 0,
    rgb(249, 250, 249) calc(100% - 10px),
    rgb(0, 255, 0) calc(100% - 2px),
    rgb(0, 255, 0) 90%
  );
  color: rgb(8, 0, 0);
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 1rem;
}

header {
  margin: 5rem 0 0 5rem;
}
h1,
h2 {
  color: rgb(65, 245, 0);
}
h1 {
  font-family: Roboto, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}
h2 {
  font-family: serif;
  font-size: 2.8rem;
  font-weight: 500;
}

.contact {
  width: 80%;
  margin: 0.1rem 7% 0 5rem;
  padding: 2rem;
}

ul {
  list-style: none;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  color: rgb(65, 245, 0);
  transition: color 0.3s ease-in-out;
  font-size: 12px;
}

a:hover {
  color: rgb(255, 0, 255, 0.6);
}

#cursor-circle {
  position: fixed;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  background: rgb(255, 0, 255);
  filter: blur(3px);
  mix-blend-mode: screen;
  left: -100px;
  top: 50%;
  z-index: 10000;
  transition: all 30ms ease-out;
}

@media (max-width: 600px) {
  html {
    cursor: auto;
  }

  #cursor-circle {
    display: none;
  }

  header,
  .contact {
    margin: 2rem 0 0 2rem;
  }

  h1 {
    font-family: Roboto, sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
  }
  h2 {
    font-family: serif;
    font-size: 1.8rem;
    font-weight: 400;
  }

  ul {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
  }
}
